/* Table of Content
==================================================
    1.Reset & Basics
    2.Basic Styles
    3.Typography and Common style
    4.Links
    5.Misc


/* Reset & Basics (Inspired by E. Meyers) */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a,
a:hover,
a:active,
a:visited,
a:focus {
	text-decoration: none;
}

img {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	max-width: 100%;
}
.map img {
	max-width: none;
}
a:focus {
	outline: 0;
}
iframe {
	width: 100%;
	border: none;
	display: inline-block;
}
::-moz-selection {
	background: #a98307;
	color: #ffffff;
}
/* End reset & basics (Inspired by E. Meyers) */

/*Basic Styles*/

body {
	background: #13181d;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.55;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

/*End basic styles*/

/* Typography and Common style*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Dosis', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	margin-bottom: .5rem;
	font-weight: 400;
	position: relative;
	letter-spacing: 2px;
}

h1,
.h1 {
	font-size: 2.875rem;
	line-height: 1.2;
	letter-spacing: 5px;
}

h2,
.h2 {
	font-size: 2.5rem;
	line-height: 3rem;
	letter-spacing: 5px;
}
h3,
.h3 {
	font-size: 1.125rem;
}
h4,
.h4 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 2rem;
}

.h4 {
	font-weight: 500;
}

h5,
.h5 {
	font-size: 1rem;
}
h6,
.h6 {
	font-size: .75rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.h5 {
	font-weight: 600;
}

.block-title {
	display: inline-block;
	position: relative;
	padding: 0 .625em;
}

.block-title:before {
	position: absolute;
	content: "";
	width: 100%;
	height: .875rem;
	background: #a98307;
	bottom: .775rem;
	left: 0;
}
.span {
	font-size: .75rem;
}

.big-icon {
	font-size: 5rem;
	opacity: .5;
	color: #3b4b5b;
}
blockquote {
	font-size: 1.25rem;
	font-style: italic;
	margin: .7537rem 0;
	font-weight: 300;
	line-height: 1.5735rem;
}

p,
.p {
	line-height: 1.9;
	margin-bottom: 1.875rem;
	font-size: .8125rem;
	display: block;
}

p span,
small span {
	font-size: inherit;
}

p em {
	display: inline-block;
}

form {
	position: relative;
}

em {
	margin-bottom: .5rem;
}

.w-93 {
	width: 93%;
}

.opc-70 {
	opacity: .7;
}

.vertical-align {
	display: -webkit-flex !important;
	display: -moz-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	align-items: center;
	-webkit-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.text-small {
	font-size: 12px;
	display: inline-block;
}

section,
.section {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.block-content {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-bottom: .3125rem;
}

.front-p {
	position: relative;
	z-index: 100;
}
.uppercase {
	text-transform: uppercase;
}
.text-white {
	color: #ffffff;
}

.text-red {
	color: #a98307;
}

.bold {
	font-weight: 700;
}

.switch-fot {
	font-family: 'Source Code Pro', monospace;
}

.form-control-border0 {
	border: none;
}

.height-70 {
	height: 70vh;
}

img {
	margin-bottom: 1rem;
	display: block;
}

img.animated {
	-webkit-transform: translateX(-10px) translateZ(0);
	transform: translateX(-10px) translateZ(0);
	transition: .45s ease;
	width: calc(100% + 10px);
	max-width: initial;
}

img:hover {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.sing {
	max-width: 30%;
}

.adjust-space {
	margin-top: -30px;
	display: block;
}

.container {
	position: relative;
}

.indent {
	text-indent: -999px;
	display: none;
}

input[type]:-moz-placeholder {
	color: rgba(85, 45, 35, .5);
}
:-moz-placeholder {
	color: rgba(85, 45, 35, .5);
}
::-moz-placeholder {
	color: rgba(85, 45, 35, .5);
}
:-ms-input-placeholder {
	color: rgba(85, 45, 35, .5);
}
::-webkit-input-placeholder {
	color: rgba(85, 45, 35, .5);
}

.zoom {
	animation: zoom 15s ease 0s normal both infinite;
	-webkit-animation: zoom 15s ease 0s normal both infinite;
	-moz-animation: zoom 15s ease 0s normal both infinite;
	-ms-animation: zoom 15s ease 0s normal both infinite;
	-o-animation: zoom 15s ease 0s normal both infinite;
}
@keyframes zoom {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes zoom {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}
@keyframes zoom {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

/* End typography and common style*/

/*Links*/

a.link {
	margin-bottom: 1rem;
	display: block;
	color: #ffffff;
}
.as-link {
	cursor: pointer;
}

a,
.but,
.block-hover,
input[type="text"],
.mobile-but .lines:after,
.mobile-but .lines:before,
.insta-Feed li img,
.block-tabs li,
.playlist li {
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.btn-s {
	padding: .29rem .725rem .29rem .625rem;
	font-size: .6875rem;
}

.btn.with-ico i {
	margin-right: .5125rem;
}

.with-ico i {
	display: inline-block;
	margin-right: .8125rem;
}

.border-2 {
	border-color: #a98307 !important;
}

.border-3 {
	border-color: rgba(255, 255, 255, .7) !important;
}

.but:hover {
	color: #ffffff;
}

.block-social li a {
	color: rgba(255, 255, 255, .7);
	border: 2px solid transparent;
	border-color: rgba(255, 255, 255, .07);
	padding: 0.2875rem 0.55rem;
	font-size: 0.9357rem;
	display: inline-block;
	margin-right: .3rem;
}

.block-social li a:hover {
	color: rgba(255, 255, 255, 1);
}

a.link:hover {
	opacity: .7;
	text-decoration: none;
}

strong a {
	color: #ffffff;
}

p a.link {
	margin-top: 0;
	font-size: inherit;
	text-decoration: underline;
	display: inline-block;
}

section.divider {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

section.main {
	padding-top: 7.42857rem;
	padding-bottom: 7.42857rem;
}

div[class*="col-"].gap-one-bottom-md,
.gap-one-bottom-md {
	padding-bottom: 5rem;
}

div[class*="col-"].gap-one-top-md,
.gap-one-top-md {
	padding-top: 5rem;
}

div[class*="col-"].gap-double-md,
.gap-double-md {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

div[class*="col-"].gap-one-bottom-lg,
.gap-one-bottom-lg {
	padding-bottom: 10rem;
}

div[class*="col-"].gap-one-top-lg,
.gap-one-top-lg {
	padding-top: 10rem;
}

div[class*="col-"].gap-double-lg,
.gap-double-lg {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

div[class*="col-"].gap-one-bottom-sm,
.gap-one-bottom-sm {
	padding-bottom: 3rem;
}

div[class*="col-"].gap-one-top-sm,
.gap-one-top-sm {
	padding-top: 3rem;
}

div[class*="col-"].gap-double-sm,
.gap-double-sm {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

/*End links*/

/*Misc */

.bg-secondary {
	border-top: 1px solid rgba(59, 75, 91, 0.3);
}

.bg-red {
	background: #a98307;
}
/*End misc */
