.transparent-bg {
	background-color: transparent !important;
}
.center-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-image {
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.blog {
	padding: 40px 0 20px 0;
}

.blog .entry {
	/* padding: 30px; */
	margin-bottom: 60px;
}

.blog .entry .entry-content {
	text-align: justify;
}

.blog .entry .entry-img {
	max-height: 400px;
	overflow: hidden;
}

.blog .entry .entry-title {
	font-size: 28px;
	font-weight: bold;
	padding: 0;
	margin: 0 0 20px 0;
}

.blog .entry .entry-title a {
	color: #fff;
	transition: 0.3s;
}

.blog .entry .entry-title a:hover {
	color: #222222;
}

.blog .entry .entry-meta {
	margin-bottom: 15px;
	color: #dddddd;
}

.blog .entry .entry-meta ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.blog .entry .entry-meta ul li + li {
	padding-left: 15px;
}

.blog .entry .entry-meta i {
	font-size: 14px;
	padding-right: 4px;
}

.blog .entry .entry-meta a {
	color: #aaaaaa;
	font-size: 14px;
	display: inline-block;
}

.blog .entry .entry-content p {
	line-height: 24px;
}

.blog .entry .entry-content .read-more {
	-moz-text-align-last: right;
	text-align-last: right;
}

.blog .entry .entry-content .read-more a {
	display: inline-block;
	background: #222222;
	color: #fff;
	padding: 6px 20px;
	transition: 0.3s;
	font-size: 14px;
}

.blog .entry .entry-content .read-more a:hover {
	background: #222222;
}

.blog .entry .entry-content h3 {
	font-size: 22px;
	margin-top: 30px;
	font-weight: bold;
}

.blog .entry .entry-content blockquote {
	overflow: hidden;
	background-color: #fafafa;
	padding: 60px;
	position: relative;
	text-align: center;
	margin: 20px 0;
}

.blog .entry .entry-content blockquote p {
	color: #444;
	line-height: 1.6;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 500;
	font-size: 22px;
}

.blog .entry .entry-content blockquote .quote-left {
	position: absolute;
	left: 20px;
	top: 20px;
	font-size: 36px;
	color: #e7e7e7;
}

.blog .entry .entry-content blockquote .quote-right {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 36px;
	color: #e7e7e7;
}

.blog .entry .entry-content blockquote::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 3px;
	background-color: #222222;
	margin-top: 20px;
	margin-bottom: 20px;
}

.blog .entry .entry-footer {
	padding-top: 10px;
	border-top: 1px solid #e6e6e6;
}

.blog .entry .entry-footer i {
	color: #4c99c1;
	display: inline;
}

.blog .entry .entry-footer a {
	color: #90c0d8;
	transition: 0.3s;
}

.blog .entry .entry-footer a:hover {
	color: #222222;
}

.blog .entry .entry-footer .cats {
	list-style: none;
	display: inline;
	padding: 0 20px 0 0;
	font-size: 14px;
}

.blog .entry .entry-footer .cats li {
	display: inline-block;
}

.blog .entry .entry-footer .tags {
	list-style: none;
	display: inline;
	padding: 0;
	font-size: 14px;
}

.blog .entry .entry-footer .tags li {
	display: inline-block;
}

.blog .entry .entry-footer .tags li + li::before {
	padding-right: 6px;
	color: #6c757d;
	content: ",";
}

.blog .entry .entry-footer .share {
	font-size: 16px;
}

.blog .entry .entry-footer .share i {
	padding-left: 5px;
}

.blog .entry-single {
	margin-bottom: 30px;
}

.blog .blog-author {
	padding: 20px;
	margin-bottom: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-author img {
	width: 120px;
}

.blog .blog-author h4 {
	margin-left: 140px;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 0px;
	padding: 0;
}

.blog .blog-author .social-links {
	margin: 0 0 5px 140px;
}

.blog .blog-author .social-links a {
	color: #fff;
}

.blog .blog-author p {
	margin-left: 140px;
	font-style: italic;
	color: #b7b7b7;
}

.blog .blog-comments {
	margin-bottom: 30px;
}

.blog .blog-comments .comments-count {
	font-weight: bold;
}

.blog .blog-comments .comment {
	margin-top: 30px;
	position: relative;
}

.blog .blog-comments .comment .comment-img {
	width: 50px;
}

.blog .blog-comments .comment h5 {
	margin-left: 65px;
	font-size: 16px;
	margin-bottom: 2px;
}

.blog .blog-comments .comment h5 a {
	font-weight: bold;
	color: #444;
	transition: 0.3s;
}

.blog .blog-comments .comment h5 a:hover {
	color: #222222;
}

.blog .blog-comments .comment h5 .reply {
	padding-left: 10px;
	color: #222222;
}

.blog .blog-comments .comment time {
	margin-left: 65px;
	display: block;
	font-size: 14px;
	color: #fff;
	margin-bottom: 5px;
}

.blog .blog-comments .comment p {
	margin-left: 65px;
}

.blog .blog-comments .comment.comment-reply {
	padding-left: 40px;
}

.blog .blog-comments .reply-form {
	margin-top: 30px;
	padding: 30px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .blog-comments .reply-form h4 {
	font-weight: bold;
	font-size: 22px;
}

.blog .blog-comments .reply-form p {
	font-size: 14px;
}

.blog .blog-comments .reply-form input {
	border-radius: 0;
	padding: 20px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form input:focus {
	box-shadow: none;
	border-color: #a2cce3;
}

.blog .blog-comments .reply-form textarea {
	border-radius: 0;
	padding: 10px 10px;
	font-size: 14px;
}

.blog .blog-comments .reply-form textarea:focus {
	box-shadow: none;
	border-color: #a2cce3;
}

.blog .blog-comments .reply-form .form-group {
	margin-bottom: 25px;
}

.blog .blog-comments .reply-form .btn-primary {
	border-radius: 0;
	padding: 10px 20px;
	border: 0;
	background-color: #222222;
}

.blog .blog-comments .reply-form .btn-primary:hover {
	background-color: #222222;
}

.blog .blog-pagination {
	color: #7b9bab;
}

.blog .blog-pagination ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

.blog .blog-pagination li {
	border: 1px solid white;
	margin: 0 5px;
	transition: 0.3s;
}

.blog .blog-pagination li.active {
	background: white;
}

.blog .blog-pagination li a {
	color: #fff;
	padding: 6px 8px;
	display: inline-block;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
	background: #a98307;
	border: 1px solid white;
}

.blog .blog-pagination li.active a {
	color: #fff;
}

.blog .blog-pagination li:hover a {
	color: #222;
}

.blog .blog-pagination li.disabled {
	background: #a98307;
	border: 1px solid white;
}

.blog .blog-pagination li.disabled a {
	color: #fff;
	padding: 6px 8px;
	display: inline-block;
}

.blog .blog-pagination li.disabled a:active,
.blog .blog-pagination li.disabled a:hover {
	color: #222222;
}

.blog .sidebar {
	padding: 30px;
	background-color: #a98307;
}

.blog .sidebar .sidebar-title {
	font-size: 20px;
	font-weight: bolder;
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
	color: #222222;
	position: relative;
}

.blog .sidebar .sidebar-item {
	margin-bottom: 30px;
}

.blog .sidebar .search-form form {
	background: #fff;
	border: 1px solid #ddd;
	padding: 3px 10px;
	position: relative;
}

.blog .sidebar .search-form form input[type="text"] {
	border: 0;
	padding: 4px;
	width: calc(100% - 40px);
}

.blog .sidebar .search-form form button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 15px;
	margin: -1px;
	background: #222222;
	color: #fff;
	transition: 0.3s;
}

.blog .sidebar .search-form form button:hover {
	background: #222222;
}

.blog .sidebar .categories ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .categories ul li + li {
	padding-top: 10px;
}

.blog .sidebar .categories ul a {
	color: #fff;
	font-weight: 600;
}

.blog .sidebar .categories ul a:hover {
	color: #222222;
}

.blog .sidebar .categories ul a span {
	padding-left: 5px;
	color: #fff;
	font-size: 14px;
}

.blog .sidebar .recent-posts .post-item + .post-item {
	margin-top: 15px;
}

.blog .sidebar .recent-posts img {
	width: 80px;
	float: left;
}

.blog .sidebar .recent-posts h4 {
	font-size: 15px;
	margin-left: 95px;
	font-weight: bold;
}

.blog .sidebar .recent-posts h4 a {
	color: #fff;
	transition: 0.3s;
}

.blog .sidebar .recent-posts h4 a:hover {
	color: #222222;
}

.blog .sidebar .recent-posts time {
	display: block;
	margin-left: 95px;
	font-style: italic;
	font-size: 14px;
	color: #fff;
}

.blog .sidebar .tags {
	margin-bottom: -10px;
}

.blog .sidebar .tags ul {
	list-style: none;
	padding: 0;
}

.blog .sidebar .tags ul li {
	display: inline-block;
}

.blog .sidebar .tags ul a {
	color: #fff;
	font-size: 14px;
	padding: 6px 14px;
	margin: 0 6px 8px 0;
	border: 1px solid #e4eff5;
	display: inline-block;
	transition: 0.3s;
}

.blog .sidebar .tags ul a:hover {
	color: #fff;
	border: 1px solid #222222;
	background: #222222;
}

.blog .sidebar .tags ul a span {
	padding-left: 5px;
	color: #bedae8;
	font-size: 14px;
}
