@import "admin/_variables";
@import "../../node_modules/bulma/bulma";
@import "../../node_modules/datatables-bulma/css/dataTables.bulma.min.css";
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";
@import "../../node_modules/trumbowyg/dist/ui/trumbowyg.min.css";
@import "app/_icons";
@import "admin/_overrides";
@import "admin/_buttons";

.box {
	margin-top: 5rem;
}

.avatar {
	margin-top: -70px;
	padding-bottom: 20px;
	img {
		padding: 5px;
		background: #fff;
		border-radius: 50%;
		-webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
		box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
	}
}

input {
	font-weight: 300;
}

p {
	font-weight: 400;
}

.info-tiles {
	margin-bottom: 3rem;
}

.dataTables_scrollHeadInner,
.table {
	width: 100% !important;
}

.dataTables_info {
	display: inline;
	margin-top: 1rem;
}

.dataTables_scroll {
	margin-bottom: 1rem;
}

table.dataTable thead > tr > td.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > th.sorting_asc,
table.dataTable thead > tr > th.sorting_desc {
	padding-right: 0;
	text-align: left;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
	font-family: $body-family;
}

table.dataTable thead .sorting:after {
	content: "\2195";
}

table.dataTable thead .sorting_asc:after {
	content: "\2191";
}

table.dataTable thead .sorting_desc:after {
	content: "\2193";
}

#dataTableBuilder_processing {
	margin-top: -1.44rem;
}

#tab-header {
	margin-bottom: 0;
}

#tab-container .container-item {
	display: none;
}

#tab-container .container-item.is-active {
	display: block;
}

#world-map {
	height: 333px;
}

@media (max-width: 768px) {
	.no-box-shadow-mobile {
		box-shadow: none;
	}
}

.center-file {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
