@import "app/_variables";
iframe {
	border: 0;
}

.turbolinks-progress-bar {
	height: 2px;
	background: $primary;
	background: -webkit-linear-gradient(to right, $primary, darken($primary, 5%));
	background: linear-gradient(to right, $primary, darken($primary, 5%));
}
@import "app/_bootstrap";
@import "app/_base";
@import "app/_main";
@import "app/_flexslider";
@import "app/_magnific-popup";
@import "app/_fonts";
@import "app/_blog";
@import "app/aos.css";
